.side-toggle {
  position: fixed;
  right: 0;
  top: 200px;
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  transition: transform .3s;
  z-index: 3;
  display: table;
  min-height: 300px
}

.side-toggle.es-ES {
  .heading {
    font-family: VodafoneRegular;
  }
}

.side-toggle--show {
  -ms-transform: translateX(0);
  transform: translateX(0)
}

.side-toggle--show .side-toggle__chevron {
  -ms-transform: rotate(90deg) scaleX(-1);
  transform: rotate(90deg) scaleX(-1)
}

.side-toggle__content {
  display: table-cell;
  vertical-align: middle;
  padding: 20px;
  text-align: center;
  box-shadow: -1px 1px 3px 0 rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 300px;
  background-color: #D7D7D7;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #EBEBEB;
  color: #333;
  visibility: hidden;
  transition: visibility .3s;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.side-toggle--show .side-toggle__content {
  visibility: visible
}

.side-toggle__button {
  position: absolute;
  padding: 0;
  margin-right: -1px;
  right: 100%;
  top: 30%;
  bottom: 0;
  box-shadow: -1px 1px 3px 0 rgba(0, 0, 0, 0.5);
  border: none;
  overflow: hidden;
  background-color: #333;
  color: #FFF;
  width: 50px;
  height: 40%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.side-toggle__chevron {
  display: inline-block;
  margin-left: 10px;
  -ms-transform: rotate(90deg);
  transform: rotate(90deg)
}

.side-toggle__tab-text {
  position: absolute;
  left: 50%;
  top: 50%;
  white-space: nowrap;
  display: inline-block;
  width: auto;
  -ms-transform: translate(-50%, -50%) rotate(-90deg);
  transform: translate(-50%, -50%) rotate(-90deg)
}

.side-toggle__icon-circle {
  position: relative;
  display: inline-block;
  border: 1px solid currentColor;
  border-radius: 100%;
  width: 64px;
  height: 64px;
  margin: 0 20px
}

.side-toggle__link:hover .side-toggle__icon-circle {
  border-color: #E60000;
  background-color: #FFF;
  color: #E60000
}

.side-toggle__link:hover .side-toggle__detail {
  color: #E60000
}

.side-toggle__icon {
  left: 50%;
  position: absolute;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%
}

.side-toggle__detail {
  display: block
}

@include media-breakpoint-down(md) {
  .side-toggle {
    min-height: 250px
  }
  .side-toggle__button {
    width: 60px
  }
  .side-toggle__content {
    padding: 20px;
    width: 280px;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
  .side-toggle__icon-circle {
    width: 62px;
    height: 62px
  }
}

@include media-breakpoint-down(sm) {
  .side-toggle--viewport-height-fix {
    bottom: initial;
    top: 155px
  }
}

@include media-breakpoint-down(xs) {
  .side-toggle {
    width: calc(100% - 50px);
    bottom: 20%;
    min-height: 200px
  }
  .side-toggle--viewport-height-fix {
    top: initial
  }
  .side-toggle__button {
    width: 51px
  }
  .side-toggle__content {
    width: 260px;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
  .side-toggle__icon-circle {
    margin: 0
  }
}

.side-toggle {
  z-index: 17 !important;
}

.background-primary {
  background: $color-red !important;
}

@include media-breakpoint-down(md) {
  .side-toggle {
    bottom: 0px;
    left: auto;
    top: auto;
    right: 0;
    width: auto;
    transform: translateY(100%);
  }

  .side-toggle--show {
    transform: translateY(0);
  }

  .side-toggle__button {
    bottom: 100%;
    right: 15px;
    top: auto;
    width: 100px;
    display: flex;
    height: 50px;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }

  .side-toggle__button span {
    position: absolute;
    transform: none;
    top: 15px;
    left: 15px;
  }
}

@include media-breakpoint-down(sm) {
  .side-toggle {
    width: 100%;
    left: 0;
  }

  .side-toggle__button {
    height: 50px;
  }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .side-toggle {
      bottom: 0px;
      left: auto;
      top: auto;
      right: 15px;
      width: auto;
      transform: translateY(100%);
    }
  
    .side-toggle--show {
      transform: translateY(0);
    }
  
    .side-toggle__button {
      bottom: 100%;
      right: 35px;
      top: auto;
      width: 100px;
      display: flex;
      height: 50px;
      justify-content: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0;
    }
  
    .side-toggle__button span {
      position: absolute;
      transform: none;
      top: 15px;
      left: 15px;
    }

    .side-toggle__content {
      display: table-cell;
      vertical-align: middle;
      padding: 20px;
      text-align: center;
      box-shadow: -1px 1px 3px 0 rgba(0, 0, 0, 0.5);
      width: 300px;
      height: 300px;
      background-color: #D7D7D7;
      border-top: 1px solid #CCC;
      border-bottom: 1px solid #CCC;
      border-right: 1px solid #EBEBEB;
      color: #333;
      visibility: hidden;
      transition: visibility .3s;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0;
    }

}
